 <!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="css/bootstrap.css">
<script src="js/angular.min.js"></script>
<script src="js/app.js">
</script>


<body ng-app>
 <p>Name : <input type="text" ng-model="name"></p>
  <p>Name : <input type="text" ng-model="name"></p>
  <h1>Hello {{name}}</h1> 
  
  
<div ng-controller="MyCtrl" >
 
  
 
 <button ng-click="toggle()" onclick="click()">Toggle</button>
 <p ng-show="visible" >Hello World!</p>
</div> 
</body>
</html> 

 