<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Angular practice ---</title>
<script src="js/angular.js"></script>
<script type="text/javascript">
var demoapp=angular.module('demo',[]);
demoapp.controller('FruitsController',function ($scope){
        $scope.name="Anonymous";
        $scope.a=10;
        $scope.fruits=['apple','mango','banana'];
        $scope.addFruit=function(){
            $scope.fruits.push($scope.newFruit);
        }
	$scope.update=function(){
		$scope.a+=10;
		};
        
    });
    
</script>
</head>
<body ng-app="demo">
<div ng-controller="FruitsController">
    Enter Your Name : <input type="text" ng-model="name">
    Select a Fruit :
        <select ng-model="selectedFruit" ng-options="fruit for fruit in fruits">
        </select>
    <hr/>
    number::{{a}}
    List of Fruits :
    <ul><li ng-repeat="fruit in fruits">{{fruit}}</li></ul>
    <hr />
    Name : {{name}}<br />
    Selected fruit : {{selectedFruit}}
    <hr />
    Add more fruits :
        <input type="text" ng-model="newFruit">
        <button ng-click="update()">Add</button>
          number::{{a}}
</div>
</body>

</html>
