<!DOCTYPE html>
<html ng-app="todoApp">
<head>
<title>TO DO List</title>
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<script src="js/angular.js"></script>
<script>


var todoApp = angular.module("todoApp", []);
var model = {user: "Adam"};
		
todoApp.run(function ($http) { //no need call this 
	
	
	$http.get("partials/todo.json").success(function(data, status, headers, config) {
	//model.items = data;
	
	x=x+10;
	console.log(x);
	var jsonString = angular.toJson(data);
	console.log(jsonString);
	model.items = angular.fromJson(jsonString);
	
	})
	.error(function(data, status, headers, config) {
		model.items=status;
		console.log("error");
	});
	});
todoApp.filter("checkedItems", function () {
	return function (items, showComplete) {
	var resultArr = [];
	angular.forEach(items, function (item) {
	if (item.done == false || showComplete == true) {
	resultArr.push(item);
	}
	});
	return resultArr;
	}
	});

todoApp.controller("ToDoCtrl", function ($scope) {
	$scope.todo = model;
	$scope.incompleteCount = function () {
		var count = 0;
		angular.forEach($scope.todo.items, function (item) {
		if (!item.done) { count++ }
		});
		return count;
		};
	$scope.warningLevel = function () {
		return $scope.incompleteCount() < 3 ? "label-success" : "label-warning";
		};
		
		$scope.addNewItem = function (actionText) {
			$scope.todo.items.push({ action: actionText, done: false });
			};
	});
</script>
</head>
<body ng-controller="ToDoCtrl">
<div class="page-header">
<h1>
{{todo.user}}'s To Do List has
<span class="label label-info">{{todo.items.length}}</span> Items
<span class="label label-default" ng-class="warningLevel()" ng-hide="incompleteCount() == 0">
{{incompleteCount()}}
</span>
</h1>
</div>
<div class="panel">
<div class="input-group">
<input class="form-control" ng-model="actionText" />
<span class="input-group-btn">
<button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
</span>


</div>
<table class="table table-striped">
<thead>
<tr>
<th>Description</th>
<th>Done</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="item in todo.items | checkedItems:showComplete | orderBy:'action'">
<td >{{item.action}}</td>
<td><input type="checkbox" ng-model="item.done" /></td>
<td>{{item.done}}</td>
</tr>

</tbody>
</table>

<div class="checkbox-inline">
<label><input type="checkbox" ng_model="showComplete"> Show Complete</label>
</div>
</div>
</body>
</html>